/* reseteo de estilos */

*,
*::after,
*::before{
    margin: 0;
}

.selector-for-some-widget {   
    box-sizing: content-box; 
}

:root{
    --limegreen: hsl(163, 72%, 41%);
    --brightred: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --youTube: hsl(348, 97%, 39%);
    --verydarkblue: hsl(230, 17%, 14%);
    --verydarkblueother: hsl(232, 19%, 15%);
    --darkdesaturatedblue: hsl(228, 28%, 20%);
    --desaturatedblue: hsl(228, 34%, 66%);
    --white: hsl(0, 0%, 100%);
    --verypaleblue: hsl(225, 100%, 98%);
    --lightgrayishblue: hsl(227, 47%, 96%);
    --darkgrayishblue: hsl(228, 12%, 44%);
    --verydarkbluetext: hsl(230, 17%, 14%);
}

body{
    font-family: 'Inter', sans-serif;
    width: 85%;
    margin: auto;
}

header{
    margin-top: 40px;
}

h1{
    font-size: 25px;
}

.textheader{
    font-size: 14px;
    color: var(--darkgrayishblue);
    font-weight: 700;
    margin-bottom: 20px;
}

.contain__followers{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding-top: 30px;
    padding-bottom: 25px;
}

.social__name{
    font-size: 13px;
    font-weight: 700;
    color: var(--darkgrayishblue);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social__name img{
    margin-right: 10px;
}

.number__followers{
    font-size: 50px;
    font-weight: 700;
    margin-top: 12px;
}

.followerstext{
    color: var(--darkgrayishblue);
    font-size: 12px;
    letter-spacing: 4px;
}

.today{
    font-weight: 700;
    margin-top: 25px;
    font-size: 12px;
}

.today img{
    position: relative;
    top: -3px;
    margin-right: 4px;
}

.green{
    color: var(--limegreen);
}

.red{
    color: hsl(356, 69%, 56%);
}

.border__facebook{
    border-top: 4.5px solid var(--facebook);
}

.border__twitter{
    border-top: 4.5px solid var(--twitter);
}

.border__insta{
    border-top: 4.5px solid transparent;
    border-image: linear-gradient(to right, hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%) 100%) 1;
}

.border__youtube{
    border-top: 4.5px solid var(--youTube);
}

h2{
    margin-top: 40px;
    color: var(--darkgrayishblue)
}

.contain__overview{
    border-radius: 4px;
    background-color: var(--lightgrayishblue);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.first__contain{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.second__contain{
    padding-top: 20px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.overview__text{
    font-size: 14px;
    color: var(--darkgrayishblue);
    font-weight: 700;
}

.number__overview{
    font-size: 30px;
    font-weight: 700;
}

.percentage{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
}

.percentage img{
    position: relative;
    top: -3px;
    margin-right: 2px;
}

.button__contain{
    padding-top: 15px;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dark__button{
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
    width: 48px;
    height: 24px;
    border: none;
    border-radius: 20px;
    padding: 3px 3px;
}

.circle{
    width: 45%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.circle__off{
    background-color: white;
    float: right;
}

.circle__on{
    background-color: var(--verydarkbluetext);
    float: left;
}

.dark__button__off{
    background-color: rgb(174, 179, 201);
}

.dark__button__on{
    background-image: linear-gradient(to right, #528bb7, #009ec4, #00b0c1, #00c0ad, #36cc8d);
}

.body-whitetheme{
    background-color: white;
}

.body-darktheme{
    background-color: rgb(32, 34, 47);
}

.boxes-whitetheme{
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: var(--lightgrayishblue);
}

.boxes-darktheme{
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: rgb(37, 43, 67);
}

.text-whitetheme{
    color: black;
}

.text-darktheme{
    color: var(--white);
}

.boxes-whitetheme:hover{
    background-color: rgb(225, 227, 240);
}

.boxes-darktheme:hover{
    background-color: rgb(51, 58, 86);
}

@media screen and (min-width: 1000px){
    body{
        width: 75%;
        height: 105vh;
    }
    
    .followers{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    h1{
        font-size: 30px;
        margin-bottom: 5px;
    }

    .textheader{
        font-size: 15px;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .button__contain{
        margin-bottom: 25px;
        border-top: 0;
    }

    .button__contain p{
        margin-right: 15px;
    }

    .contain__followers{
        margin-top: 0;
        width: 23%;
    }

    .followerstext{
        font-size: 13px;
    }

    .today{
        font-size: 13px
    }

    .overview{
        display: flex;
        flex-direction: column;
    }

    .first__row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .second__row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .contain__overview{
        width: 23%;
    }

    .number__followers{
        font-size: 55px;
    }

    .first__contain{
        width: 80%;
    }

    .second__contain{
        width: 80%;
    }

    .overview__text{
        font-size: 15px;
    }

    .number__overview{
        font-size: 36px;
    }

    .contain__overview{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .dark__button__off{
        background-image: linear-gradient(to right, #528bb7, #009ec4, #00b0c1, #00c0ad, #36cc8d);
    }
}